* { 
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 32px;
}

.grid {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box { 
    height: 20px;
    width: 20px;
    background-color: lightgray;
    margin-bottom: 2px;
}