* { 
    margin: 0px;
}

.grid {
    display: grid;
    margin: auto;
    height: 960px;
    width: 960px;
}


.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    background-color: aqua;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 32px;
}

.button {
    width: 84px;
    height: 44px;
    border-radius: 8px;
    padding: 4px;
    box-shadow: none;
}